<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script type="text/javascript" src="/bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="/bower_components/angular-animate/angular-animate.js"></script>
</head>
<body>
    <!-- <div ng-app="">
        <p>名字：<input type="text" ng-model = 'name'></p>
        <h1>hello {{name}}</h1>
    </div> -->



    <!-- <div ng-app="" ng-init="firstName='John'">
        <span ng-bind="firstName"></span>
    </div> -->



    <!-- <div ng-app="">
        <span>{{5+5}}</span>
    </div> -->



    <!-- <div ng-app="myApp" ng-controller="myCtrl">
        <input type="text" name="" ng-model="firstName">
        <input type="text" name="" ng-model="lastName">
        姓名：{{firstName+lastName}}
    </div>
    <script type="text/javascript">
        var app = angular.module('myApp',[]);
        app.controller('myCtrl',function($scope){
            $scope.firstName = 'John';
            $scope.lastName = 'Doe';
        })
    </script> -->



    <!-- <div ng-app="" ng-init="quantity=6;cost=5">
        <p>总价：{{quantity * cost}}</p>
        <p ng-bind="quantity * cost"></p>
    </div> -->



    <!-- <div ng-app="" ng-init="person={firstName:'John',lastName:'Doe'}">
        {{person.firstName}}
        <p ng-bind="person.firstName"></p>
    </div> -->




    <!-- <div ng-app="" ng-init="points=[1,2,3,4,5]">
        <p>{{points[0]}}</p>
        <p ng-bind="points[0]"></p>
    </div> -->



    
    <!-- <div ng-app="" ng-init="quantity=1;price=5">
        <input type="text" name="" ng-model="quantity">
        <input type="text" name="" ng-model="price">
        {{quantity * price}}
    </div> -->



    
    <!-- <div ng-app="" ng-init="names=['Jani','Hege','Kai']">
        <ul>
            <li ng-repeat="x in names">
                {{ x }}
            </li>
        </ul>
    </div> -->




    <!-- <div ng-app="" ng-init="names=[
    {name:'a',country:'b'},
    {name:'e',country:'f'},
    {name:'h',country:'i'}]">
        <ul>
            <li ng-repeat="x in names">
                {{ x.name + x.country}}
            </li>
        </ul>

    </div> -->



    <!-- <runoob-directive></runoob-directive>   
    <div runoob-directive></div> 
    <div class="runoob-directive"></div> -->
    <!-- directive: runoob-directive -->
    <!-- <script type="text/javascript">
        var app = angular.module('myApp',[]);
        app.directive("runoobDirective",function(){
            return {
                // restrict: 'E',
                // restrict: 'A',
                // restrict: 'C',
                restrict: 'M',
                replace : true,
                template: '<h1>自定义指令！</h1>'
            }
        })
    </script> -->



    <!-- <div ng-controller="myCtrl">
        名字：<input type="text" ng-model="name">
        <h1>你输入了：{{name}}</h1>
    </div>
    <script type="text/javascript">
        var app = angular.module('myApp',[]);
        app.controller('myCtrl',function($scope){
            $scope.name = "john";
        })
    </script> -->

    


    <!-- <form ng-app="" name="myForm">
        Email:
        <input type="email" name="myAddress" ng-model="text">
        <span ng-show="myForm.myAddress.$error.email">不是一个合法的邮箱地址</span>
    </form> -->




    <!-- <form ng-app="" name="myForm" ng-init="myText = 'text@runoob.com'">
        Email:
        <input type="email" name="myAddress" ng-model="myText" required>
        <h1>状态</h1>
        <p>valid: 
            <span style="color:red">{{myForm.myAddress.$valid}}</span>
            (如果输入的是合法的则为true)
        </p>
        <p>Dirty: 
            <span style="color:red">{{myForm.myAddress.$dirty}}</span>
            (如果值改变则为true)
        </p>
        <p>Touched: 
            <span style="color:red">{{myForm.myAddress.$touched}}</span>
            (如果通过触屏点击则为true)
        </p>
    </form> -->




    <!-- <style type="text/css">
        input.ng-invalid{
            background: red
        }        
    </style>
    <form ng-app="">
        <input type="email" ng-model="text" required>
    </form> -->
    <!-- ng-empty
    ng-not-empty
    ng-touched
    ng-untouched
    ng-valid
    ng-invalid
    ng-dirty
    ng-pending
    ng-pristine -->


    
    <!-- <div ng-app="myApp" ng-controller="myCtrl">
        <span>{{text}}</span>
    </div>
    <script type="text/javascript">
        var app = angular.module('myApp',[]);
        app.controller('myCtrl',function($scope){
            $scope.text = 'abc';
        })
    </script> -->



    
    <!-- <div ng-app="myApp" ng-controller="myCtrl">
        <ul>
            <li ng-repeat="x in names"> {{x}} <span style="color: red"> {{lastName}} </span></li>
        </ul>
    </div>
    <script type="text/javascript">
        var app = angular.module("myApp",[]);
        app.controller('myCtrl',function($scope,$rootScope){
            $scope.names = ['a','b','c'];
            $rootScope.lastName = 'd';
        })
    </script> -->




    <!-- <div ng-app="myApp" ng-controller="myCtrl">
        <input type="text" name="" ng-model="firstName">
        <input type="text" name="" ng-model="lastName">
        <span>{{ allName() }}</span>
    </div>
    <script type="text/javascript">
        var app = angular.module('myApp',[]);
        app.controller('myCtrl',function($scope){
            $scope.firstName = 'a';
            $scope.lastName = 'b';
            $scope.allName = function(){
                return $scope.firstName + $scope.lastName;
            }
        })
    </script>-->




    <!-- <div ng-app="myApp" ng-controller="myCtrl">
        <p>姓名{{ firstName | uppercase}}</p>
    </div>

    <script type="text/javascript" src="angular1.js"></script> -->




    <!-- <div ng-app="myApp" ng-controller="myCtrl">
        数量:<input type="number" name="" ng-model="quantity">
        单价:<input type="number" name="" ng-model="price">
        <span>总价{{ totle() | currency}}</span>
    </div>
    <script type="text/javascript">
        var app = angular.module('myApp',[]);
        app.controller('myCtrl',function($scope){
            $scope.quantity = 0;
            $scope.price = 10.01;
            $scope.totle = function(){
                return $scope.quantity * $scope.price;
            }
        })
    </script> -->




    <!-- <div ng-app="myApp" ng-controller="namesCtrl">
        <ul>
            <li ng-repeat=" x in names | orderBy:'name'">
                {{ x.name+','+x.country}}
            </li>
        </ul>
    </div>
    <script type="text/javascript">
        angular.module('myApp', []).controller('namesCtrl', function($scope) {
            $scope.names = [
                {name:'Jani',country:'Norway'},
                {name:'Hege',country:'Sweden'},
                {name:'Kai',country:'Denmark'}
            ];
        });
    </script> -->




    <!-- <div ng-app="myApp" ng-controller="namesCtrl">
        <input type="text" ng-model="test">
        <ul>
            <li ng-repeat=" x in names | filter:test | orderBy:'name'">
                {{ (x.name | uppercase) + ',' + x.country}}
            </li>
        </ul>
    </div>
    <script type="text/javascript">
        angular.module('myApp', []).controller('namesCtrl', function($scope) {
            $scope.names = [
                {name:'Jani',country:'Norway'},
                {name:'Hege',country:'Sweden'},
                {name:'Kai',country:'Denmark'}
            ];
        });
    </script> -->




    <!-- <div ng-app="myApp" ng-controller="myCtrl">
        {{ myUrl }}
    </div>
    <script type="text/javascript">
        angular.module('myApp',[]).controller('myCtrl',function($scope,$location){
            $scope.myUrl = $location.absUrl();
        })
    </script> -->




    <!-- <div ng-app="myApp" ng-controller="myCtrl">
        <ul>
            <li ng-repeat=" x in names">
                {{ x.username + ',' + x.content }}
            </li>
        </ul>
    </div>
    <script type="text/javascript">
        angular.module('myApp',[]).controller('myCtrl',function($scope, $http){
            $http.get("json1.json")
            .success(function(data){
                $scope.names = data.user;
            })
        })
    </script> -->



    

    <!-- <div ng-app="myApp" ng-controller="myCtrl">
        {{ text }}
    </div>
    <script type="text/javascript">
        angular.module("myApp",[]).controller('myCtrl',function($scope, $timeout){
            $scope.text = '第一次显示文字';
            $timeout(function(){
                $scope.text = '第二次显示文字';
            },2000);
        })
    </script> -->



    
    <!-- <div ng-app="myApp" ng-controller="myCtrl">
        {{ time }}
    </div>
    <script type="text/javascript">
        angular.module("myApp",[]).controller('myCtrl',function($scope,$interval){
            $scope.time = new Date().toLocaleString();
            $interval(function(){
                $scope.time = new Date().toLocaleString();
            },1000)
        })
    </script> -->





    <!-- <div ng-app="myApp" ng-controller="myCtrl">
        {{ serviceText }}
    </div>
    <script type="text/javascript">
        var app = angular.module('myApp',[]);
        app.service('myService',function(){
            this.myFunc = function(x){
                return x.toString(16)
            }
        })
        app.controller('myCtrl',function($scope,myService){
            $scope.serviceText = myService.myFunc(255)
        })
    </script> -->




    
    <!-- <div ng-app="myApp" ng-controller="myCtrl">
        <select ng-model="selectedName" ng-options="x for x in names"></select>
    </div>

    <script type="text/javascript">
        angular.module("myApp",[]).controller('myCtrl',function($scope){
            $scope.names = ['aaa','bbb','ccc']
        })
    </script> -->




    <!-- <div ng-app="myApp" ng-controller="myCtrl">
        <select>
            <option ng-repeat="x in names">{{x}}</option>
        </select>
    </div>

    <script type="text/javascript">
        angular.module("myApp",[]).controller('myCtrl',function($scope){
            $scope.names = ['aaa','bbb','ccc']
        })
    </script> -->



    <!-- <div ng-app="myApp" ng-controller="myCtrl">

        <p>选择的网站是:</p>

        <select ng-model="selectedSite" ng-options="x for (x, y) in sites">
        </select>

        <h1>你选择的值是: {{selectedSite}}</h1>

    </div>

    <p>该实例演示了使用对象作为创建下拉列表。</p>

    <script>
    var app = angular.module('myApp', []);
    app.controller('myCtrl', function($scope) {
        $scope.sites = {
            site01 : "Google",
            site02 : "Runoob",
            site03 : "Taobao"
        };
    });
    </script> -->





    <!-- <div ng-app="" ng-init="mySwitch=true">
        <button ng-disabled="mySwitch">点我</button>
        <input type="checkbox" name="" ng-model="mySwitch">
        {{mySwitch}}    
    </div> -->





    <!-- <div ng-app="">
        <p ng-show="true">我是可见的</p>
        <p ng-show="false">我是不可见的</p>
    </div> -->



    
    <!-- <div ng-app="myApp" ng-controller="myCtrl">
        <button ng-click="count = count + 1">点我</button>
        {{count}}
    </div>
    <script type="text/javascript">
        angular.module("myApp",[]).controller('myCtrl',function($scope){
            $scope.count = 0;
        })
    </script> -->





    <!-- <div ng-app="myApp" ng-controller="myCtrl">
        <button ng-click="toggle()">显示/隐藏</button>
        <div ng-show="myToggle">
            <input type="text" ng-model="firstName" name="">
            <input type="text" ng-model="lastName" name="">
            姓名：{{firstName + lastName}}  
        </div>
    </div>
    <script type="text/javascript">
        angular.module("myApp",[]).controller('myCtrl',function($scope){
            $scope.firstName = 'aaa';
            $scope.lastName = 'bbb';
            $scope.myToggle = true;
            $scope.toggle = function(){
                $scope.myToggle = !$scope.myToggle;
            }
        })
    </script> -->


    <!-- <div ng-app="myApp" ng-controller="myCtrl">
        <form>
            <input type="text" ng-model="user.firstName" name=""><br>
            <input type="text" ng-model="user.lastName" name="">
            <button ng-click="reset()">重置</button>
            <p>user:{{user}}</p>
            <p>master:{{master}}</p>
        </form>
    </div>
    <script type="text/javascript">
        angular.module('myApp',[]).controller('myCtrl',function($scope){
            $scope.master = {firstName:'aaa',lastName:'bbb'};
            $scope.reset = function(){
                $scope.user = angular.copy($scope.master)
            }
            $scope.reset();
        })
    </script> -->



    
    <!-- <div ng-app="myApp" ng-controller="myCtrl">
        <form name="myForm">
            <div>
                用户名: <input type="text" ng-model="user" name="user" required>
                <p style="color: red" ng-show="myForm.user.$dirty && myForm.user.$invalid">
                    <span ng-show="myForm.user.$error.required">用户名是必须的</span>
                </p>
            </div>
            <div>
                邮箱: <input type="email" ng-model="email" name="email" required>
                <p style="color: red" ng-show="myForm.email.$dirty && myForm.email.$invalid">
                    <span ng-show="myForm.email.$error.required">邮箱是必须的</span>
                    <span ng-show="myForm.email.$error.email">非法的邮箱地址</span>
                </p>
            </div>
            <input type="submit" ng-disabled="myForm.user.$dirty && myForm.user.$invalid || myForm.email.$dirty && myForm.email.$invalid">
        </form> 
    </div>
    <script type="text/javascript">
        angular.module('myApp',[]).controller('myCtrl',function($scope){
            $scope.user = 'Tom';
            $scope.email = 'Tom@qq.com';
        })
    </script> -->


    <!-- <style type="text/css">
        div {
          transition: all linear 0.5s;
          background-color: lightblue;
          height: 100px;
          width: 100%;
          position: relative;
          top: 0;
          left: 0;
        }
        .ng-hide {
          height: 0;
          width: 0;
          background-color: transparent;
          top:-200px;
          left: 200px;
        }
    </style>
    <body ng-app="myApp">
        <h1>隐藏 DIV: <input type="checkbox" ng-model="myCheck"></h1>
    <div ng-hide="myCheck"></div>
    <script>
        var app = angular.module('myApp', ['ngAnimate']);
    </script> -->





    <div ng-app = "mainApp" ng-controller = "CalcController">
         <p>输入一个数字: <input type = "number" ng-model = "number" /></p>
         <button ng-click = "square()">X<sup>2</sup></button>
         <p>结果: {{result}}</p>
      </div>
      <script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>
      <script>
         var mainApp = angular.module("mainApp", []);
         mainApp.config(function($provide) {
            $provide.provider('MathService', function() {
               this.$get = function() {
                  var factory = {};
                  
                  factory.multiply = function(a, b) {
                     return a * b;
                  }
                  return factory;
               };
            });
         });
         mainApp.value("defaultInput", 5);
         
         mainApp.factory('MathService', function() {
            var factory = {};
            
            factory.multiply = function(a, b) {
               return a * b;
            }
            return factory;
         });
         
         mainApp.service('CalcService', function(MathService){
            this.square = function(a) {
               return MathService.multiply(a,a);
            }
         });
         
         mainApp.controller('CalcController', function($scope, CalcService, defaultInput) {
            $scope.number = defaultInput;
            $scope.result = CalcService.square($scope.number);

            $scope.square = function() {
               $scope.result = CalcService.square($scope.number);
            }
         });
            
      </script>
</body>
</html>